<div class="container-fluid text-center">
  <div class="row content">
    <div class="col-sm-2 sidenav" >
      <!-- <p><a href="#">Doctor</a></p>
      <p><a href="#">Patient</a></p> -->
    </div>
    <div class="col-sm-8 text-left"> 
    	<h1>Demo Project</h1>
      <p>Welcome to Demo Project</p>

      <div id="addDoctorForm" ng-show="addUserFormShow">
        <p>{{addUserLable}}</p>
        <form name ="login" id="add_user" ng-submit="userAdd()">
          <div class="alert alert-danger" role="alert" ng-if="message">{{message}}</div>
          <div class="form-group">
          <label for="name">Name</label>
          <input name="name" type="text" class="form-control" id="add_name" required="" ng-model="add.name">
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input name="email" type="email" class="form-control" id="add_email" required="" ng-model="add.email">
        </div>
        <div class="form-group">
          <input name="role" type="hidden" class="form-control" id="add_role" required="" ng-model="add.role" >
        </div>
        <div class="form-group">
          <label for="pwd">Password</label>
          <input name="password" id="add_password" type="password" class="form-control" required="" ng-model="add.password">
        </div>
        <button type="submit" class="btn btn-default" >Save</button>
      </form>  
    </div>

    <div id="updateDoctorForm" ng-show="updateUserFormShow">
        <p>{{updateUserLable}}</p>
        <form name ="login" id="update_user" ng-submit="userUpdate()">
          <div class="alert alert-danger" role="alert" ng-if="message">{{message}}</div>
          <div class="form-group">
          <label for="name">Name</label>
          <input name="name" type="text" class="form-control" id="update_name" required="" ng-model="update.name">
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input name="email" type="email" class="form-control" id="update_email" required="" ng-model="update.email">
        </div>
        <div class="form-group">
          <input name="role" type="hidden" class="form-control" id="update_role" required="" ng-model="update.role" >
        </div>
        <div class="form-group">
          <input name="_id" type="hidden" class="form-control" id="update__id" required="" ng-model="update._id" >
        </div>
        <!-- <div class="form-group">
          <label for="pwd">Password</label>
          <input name="password" id="update_password" type="password" class="form-control" required="" ng-model="update.password">
        </div> -->
        <button type="submit" class="btn btn-default" >Save</button>
      </form>  
    </div>




      <p>Doctor List</p> 
      <button type="button" class="btn btn-default" ng-click="addUser('doctor')">Add Doctor</button>
      <table class="table table-custom table-striped mt-20 default-width" ng-if="doctorList.length>0">
        <thead>
        <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Action</th>
        </tr>
        </thead>
        <tbody> 
        <tr ng-repeat="doctor in doctorList">
        <td>{{ doctor.name }}</td>
        <td>{{ doctor.email}}</td>
        <td >
          <button type="button" class="btn btn-default btn-sm" ng-click="editUser(doctor._id,doctor.role)">Edit Doctor</button>
          <button type="button" class="btn btn-danger btn-sm" ng-click="deleteUser(doctor._id,doctor.role)">Delete Doctor</button>
        </td> 
        </tr>
        </tbody>
      </table>

      <p>Patient List</p> 
      <button type="button" class="btn btn-default" ng-click="addUser('patient')">Add Patient</button>
      <table class="table table-custom table-striped mt-20 default-width" ng-if="patientList.length>0">
        <thead>
        <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Action</th>
        </tr>
        </thead>
        <tbody> 
        <tr ng-repeat="patient in patientList">
        <td>{{ patient.name }}</td>
        <td>{{ patient.email}}</td>
        <td >
          <button type="button" class="btn btn-default btn-sm" ng-click="editUser(patient._id,patient.role)">Edit Patient</button>
          <button type="button" class="btn btn-danger btn-sm" ng-click="deleteUser(patient._id,patient.role)">Delete Patient</button>
        </td> 
        </tr>
        </tbody>
      </table>

      
      
    </div>

    <div class="col-sm-2 sidenav" >
      <p ng-controller="AuthCtrl" ng-show="getToken()">
        <span>{{getName()}}</span><br>
        <a href="" ng-click="logOut()"><span class="glyphicon glyphicon-log-out"></span> Logout</a>
      </p>
      <hr>
      <div >
        <div class="well">
          <p>Online Users</p>
          <ul>
            <li ng-repeat="user in onlineUser" >
                <p>User:{{ user.name }} Status:{{user.status}} <br><span ng-click="chatStart(user._id,user.name)">Click to Chat</span></p>
            </li>
          </ul>
        </div>
        <div class="well" ng-show="showChatDiv">
          <p>Chat</p>

          <ul id="messages">
              <li ng-repeat="msg in chatMessage" >
                  <p>{{msg.msg}} &nbsp;&nbsp;&nbsp;({{msg.name}})</p>
              </li>
          </ul>
          <br>

          <form name ="login" class="form-inline" id="chat_window" ng-submit="sendMessage()" style="width: 82%; margin: 0px 0px 0px -29px;">
            <input name="send_msg" type="text" class="form-control" id="send_msg" required="" ng-model="send_msg.msg">
            <input name="_id" type="hidden" class="form-control" id="sender_id" required="" ng-model="send_msg.sender_user">
            <input name="_id" type="hidden" class="form-control" id="reciver_id" required="" ng-model="send_msg.receiver_user">
            <button type="submit" class="btn btn-default" >Save</button>
          </form>  

        </div>   


      </div>
      
    </div>
  </div>
</div>
